.card{
  width: 300px;
  height: 350px;
  margin-top: 20px;
  background: none;
  box-sizing: border-box;
}
.btn{
  margin-top: 20px;
  float: right;
  color: black;
}
.card .card-title{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
