<div class="card" style="width: 800px">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <app-input-field label="Titulo"> </app-input-field>
      </div>
      <div class="col-sm-4">
        <app-input-field label="Descricao"> </app-input-field>
      </div>
      <div class="col-sm-4">
        <app-input-field label="Foto" type="file"> </app-input-field>
      </div>
    </div>
    <div style="padding-top: 20px;">
      <img style="height: 400px;"
      src="../../../assets/Rivers_Fishing_Fog_436425.jpg"
      class="card-img-bottom"
      alt="Camera"
    />
    </div>
  </div>
</div>
