<div class="row justify-content-md-center fuu">

  <div class="card">
    <div class="card-body">
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <app-input-field
        id="email"
        label="Email"
        type="email"
        formControlName="email">
        </app-input-field>

        <app-input-field
        id="senha"
        label="Senha"
        type="password"
        formControlName="senha">
        </app-input-field>
        <div class="center">
          <button class="btn btn btn-success" type="submit">
            Login
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
